@import url('../../../../maler/css/normalize.css');

body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

header,
main,
footer,
nav,
article,
aside,
div {

  display: block;
  overflow: hidden;
}

body {
  background-image: url(../bilder/background.jpg);
  background-size: cover;
}
#wrapper {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}


nav {
  border: solid black 1px;
  height: 40px;
  width: 100%;
  max-width: 1190px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 0px;
  position: -webkit- sticky;
  position: sticky;
  top: 0;
  background: rgba(211, 211, 211, 0.8);
  z-index: 999;
  font-size: 20px;

}

ul#meny {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  margin: 0;
}

#meny li {
  position: relative;
  display: inline;
  width: 25%;
}

#meny li a {
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

li a:hover{
  color: white;
  background: rgba(89, 89, 89, 0.8);
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

#logo {
  width: 100%;
  height: 300;
  margin: 0px 5px 5px 0px;
  position: static;
  margin-left: auto;
  margin-right: auto;

}

img {
  height: 300px;
  margin-left: 37%;

}

#git-content {
  background: rgba(211, 211, 211, 0.8);
  margin: 5px;
  padding: 15px;
  width: auto;
  max-width: 1190px;
}

#git-content img {
  margin-left: auto;
}

#gitkraken-endring {
  height:auto;
  width: 75%;
}

.gitkraken-endring-2 {
  width: 37.5%;
  height: auto;
}

#frister {
  width: 33%;
  border: solid blue 1px;
  float: right;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  height: auto;
  min-height: 411px;


}
#infprog-frist{
  width: 110%;
  height: auto;
  min-height: 395px;
}

#web-frist{
  width: 110%;
  height: auto;
  min-height: 395px;
}

.aside-content {
  margin: 5px;
  border: solid black 1px;
  background: rgba(211, 211, 211, 0.8);
  height: 300px;
  width: calc(100% / 2 - 10px);
  float: left;
  height: auto;
  min-height: 400px;

}

#webutvikling {
  margin: 5px;
  border: solid black 1px;
  background: rgba(211, 211, 211, 0.8);
  height: 300px;
  width: 45%;
  float: right;
}

main {
  border: solid red 1px;
  width: 66%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

}

.main-content {
  width: calc(100% / 3 - 10px);
  float: left;
  border: solid black 1px;
  margin: 5px;
  padding: 8px;
  background: rgba(211, 211, 211, 0.8);
  height: auto;
  max-height: 600px;
  max-width: 780px;
}

.about {
    float: left;
    margin: 5px;
    padding: 15px;
    background: rgba(211, 211, 211, 0.8);
    height: auto;
    max-height: 600px;
    max-width: 780px;
}

.about p {
  text-align: justify;
}

.about img {
  float: right;
  margin: 0px 0px 0px 15px;
  width: 400px;
  height: 410px;
}

#math-main {
  width: 100%;
  max-width: 1200px;
  height: auto;
}

#mathml {
  background: rgba(211, 211, 211, 0.8);
  margin: 5px;
  padding: 15px;
  width: auto;
  max-width: 1190px;
}

#mathml img {
  float: right;
  margin: 0px 0px 0px 15px;
  width: 320px;
  height: 100px;
}

#svg-main {
  width: 100%;
  max-width: 1200px;
  height: auto;
}

#svg-content {
  background: rgba(211, 211, 211, 0.8);
  margin: 5px;
  padding: 15px;
  width: auto;
  max-width: 1190px;
}

#svg-content img {
  margin: 0 0;
}
svg {
  display: block;
  float: left;

}

#svg-eksempel {
  margin-bottom: 20px
}

#p-flere-svg {
  margin-top: 170px
}

.eye {
  stroke: green;
  stroke-width: 7px;
  fill: transparent;
}

#pupil {
  stroke: black;
}

#lister {
  border: solid blue 1px;
  float: right;
  width: 33%;
  height: auto;
  max-height: 623px;
}

#links {
  margin: 5px;
  border: solid black 1px;
  background: rgba(211, 211, 211, 0.8);
  padding: 8px;
  height: auto;
  max-height: 610px;
  list-style: none;
  text-decoration: none;
}

#links ol {
  list-style: none;

}

#links ol li {
  border-bottom: solid black 1px;
  font-size: 20px;
  margin-bottom: 5px;
}

.table  {
  border-collapse: collapse;
  border-spacing:0;
}

.table th{
  padding:10px 5px;
  border: solid black 1px;
  overflow:hidden;
  word-break:normal;
}

.table td{
  padding: 10px 5px;
  border: solid black 1px;
}

.table .thead{
  text-align: center;
  vertical-align: top;
}
.table .trow{
  vertical-align: top;
}

table tr:nth-child(even) {
  background: rgba(163, 163, 163, 0.8);
}

#kalender-wrapper {
  margin-top: 5px;
  width: 66%;
  border: solid red 1px;
  height: auto;
  min-height: 400px;
  padding: 5px;
  float: left;
}

#kalender-boks {
    background: rgba(211, 211, 211, 0.8);
    border: solid black 1px;

}

#kalender {
  height: 395px;
  width: 100%;
}

footer {
  width: 100%;
  max-width: 1190px;
  border: solid black 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 5px;
  background-color: lightgrey;
  text-align: left;
  background: rgba(211, 211, 211, 0.8);
  padding-left: 30px;
  font-size: 20px;
  padding-right: 30px;


}

footer a {
  float: right;
  text-decoration: none;
}

footer a:hover{
  color: white;
  background: rgba(89, 89, 89, 0.8);
}
